body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f7fa;
}

/* HEADER */
header {
  background-color: #2f3e4f;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 18px;
}

/* NAV */
nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* SECCIONES */
section {
  padding: 60px 0;
  margin: auto;
  border-bottom: 1px solid #ddd;
  max-width: 800px;
  text-align: center;
}

/* IMAGEN */
img {
  width: 300px;
  height: auto;
  border-radius: 12px; /* bordes suaves */
  object-fit: cover;
  margin: 20px 0;
}


/* SKILLS */
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

ul li {
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  font-size: 14px;
}

/* FORMULARIO */
form {
  margin-top: 30px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #cccccc;
}

/* BOTÓN */
button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #004293;
}


footer {
  text-align: center;
  padding: 30px 0;
}

/* RESPONSIVE */
@media (max-width: 600px) {

  header {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 90%;
  }
}